.container-letters {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.slot {
    text-align: center;
    border-bottom: solid;
    border-width: 0.1rem;
    width: 8%;
}

.hidden {
    visibility: hidden;
}